n8n_workflows/whatsapp_crm_integration.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-call-completed",
        "options": {}
      },
      "id": "e7c10b42-1234-4567-89ab-cdef01234567",
      "name": "Vapi Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "webhookId": "baja-dental-ai-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message.type }}",
              "value2": "call.analysis.completed"
            }
          ]
        }
      },
      "id": "12345678-abcd-1234-abcd-12345678abcd",
      "name": "Filter Call Analysis",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "leads",
        "columns": "patient_name,phone_number,procedure_interest,language_spoken,call_summary,vapi_call_id",
        "patient_name": "={{ $json.message.artifact.structuredData.patient_name }}",
        "phone_number": "={{ $json.message.artifact.structuredData.phone_number }}",
        "procedure_interest": "={{ $json.message.artifact.structuredData.procedure_interest }}",
        "language_spoken": "={{ $json.message.artifact.structuredData.language_spoken }}",
        "call_summary": "={{ $json.message.artifact.structuredData.call_summary }}",
        "vapi_call_id": "={{ $json.message.call.id }}"
      },
      "id": "f8a71234-5678-abcd-ef01-23456789abcd",
      "name": "Insert into Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        640,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/YOUR_PHONE_NUMBER_ID/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $json.message.artifact.structuredData.phone_number }}"
            },
            {
              "name": "type",
              "value": "template"
            },
            {
              "name": "template",
              "value": "{\"name\": \"appointment_followup_es\", \"language\": {\"code\": \"es\"}, \"components\": [{\"type\": \"body\", \"parameters\": [{\"type\": \"text\", \"text\": \"{{ $json.message.artifact.structuredData.patient_name }}\"}, {\"type\": \"text\", \"text\": \"{{ $json.message.artifact.structuredData.procedure_interest }}\"}]}]}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Send WhatsApp Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        860,
        280
      ]
    }
  ],
  "connections": {
    "Vapi Webhook": {
      "main": [
        [
          {
            "node": "Filter Call Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Call Analysis": {
      "main": [
        [
          {
            "node": "Insert into Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Supabase": {
      "main": [
        [
          {
            "node": "Send WhatsApp Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
